
/* body { */
    /* background-image: url('images/avatar.png'); */
    /* background-size: cover; */
  /* } */
/*    */
 .about-me-wrapper {
   background-color:lightgray;
   min-height: calc(100vh -100px);
   margin-bottom: 0;
   /* padding-bottom: 600px; */
 }

 .forest-screenshot {
  height: 600px;
  width: 100%;
  overflow: hidden;
 }

.about-me-container {
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin-bottom: 100px;
  margin: 0 auto;
}

.avatar {
  width: 200px;
  border-radius: 30px;
}
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 00px;
    padding: 500px;
    background-color: #999999;
  }
  
  .about-section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 100px;
  }
  
  .about-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 300px;
  }
  
  .about-section p {
    font-size: 0px;
    line-height: 2.5;
    text-align: center;
    margin-bottom: 300px;
    
  }
   