.Contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px;
  }
  
  h2 {
    background-color: darkgray;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 600px;
    margin-top: 20px;
  }
  
label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }
  
input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
input[type="submit"] {
    background-color: lightgray;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: chocolate;
    cursor: pointer;
  }
input,textarea {
    margin-right: 10px;
  }
  
error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  